body {
    font-size: 24px;
    /* Define o tamanho da fonte para todo o corpo do documento */
    font-family: 'Poppins', sans-serif;
    /* Define a fonte para todo o corpo do documento */
}

/* Botões*/
.btn-voltar {
    position: relative;
    /* Habilita o posicionamento relativo */
    top: -20px;
    /* Move o botão "Voltar" 20 pixels para cima */
    padding: 0.5rem 2rem;
    /* Adiciona padding horizontal */
}

.btn-editar,
.btn-excluir {
    position: relative;
    /* Habilita o posicionamento relativo */
    top: 40px;
    /* Move o botão "Voltar" 20 pixels para cima */
    padding: 0.5rem 2rem;
    /* Adiciona padding horizontal */
    margin-right: 25px;
    /* Adiciona espaçamento entre os botões */
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    /* Alinha os botões à direita */
    margin-bottom: 20px;
    /* Adiciona espaço abaixo dos botões */
}